html {
    font-family: 'Roboto', Helvetica, sans-serif;
}

body {
    background-color: cornsilk;
    
}

h1,h2,li,p,.format {
    text-align: center;
}

h2 {
    text-shadow: 2px 2px 5px grey;
    line-height: 1rem;
    font-size: 150%;
}

 img.imgUtama {
    border-radius: 5%;
    width: 300px;
    height: 300px;
    box-shadow: 3px 3px 5px grey;
    border: 2px solid #ddd;
}

img.toji {
    border-radius: 5%;
    width : 300px;
    height: 300px;
    box-shadow: 3px 3px 5px grey;
    border: 2px solid #ddd;
}

button.padding {
    color: white;
    background: grey;
    border: none;
    font-size: 25px;
    border-radius: 10px;
    padding: 10px 45px;
}

img {
    max-width: 100%;
    height: auto;
    padding: 5px;
    opacity: 1;
    display: block;
    margin-bottom: 60px;
}

.navigation a{
    color : darkred;
    padding-right: 2rem;
    font-style: italic;
}

table.navigation {
    margin: auto;
}

a.button {
    color: red;
    text-decoration: none;
    text-transform: uppercase;
}

.format {
    line-height: 2em;
    color:blueviolet;
}