.navigation {
    color : blue;
}

h2 {
    color : black;
    text-shadow: 2px 2px 5px grey;
    line-height: 1;
    font-family:sans-serif;
}

p,li,a,h1 {
    font-family: sans-serif;
}
 .imgUtama {
    border: 4px solid red;
    box-shadow: 3px 3px 5px grey;
 }